@media (max-width: 1140px) {
  .form__bike-img {
    width: 500px;
  }
  .form__bike {
    top: 104px;
  }
  .form__bike-price {
    width: 150px;
    height: 75px;
    font-size: 21px;
  }
  .form__bike-price::after {
    width: 150px;
    height: 75px;
    top: 8px;
  }
}

@media (max-width: 1110px) {
  .bike__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 0px 0px;
  }
  .bike__text {
    max-width: 100%;
  }
  .bike__link {
    margin: 30px 0px 0px 0px;
  }
  .bike__column-slider {
    max-width: 100%;
    margin: 0px 0px 0px 0px;
  }
  .info {
    padding: 50px 0px 0px 0px;
  }
  .info__img {
    display: none;
  }
  .info__content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .info__item-text {
    max-width: 100%;
  }
  .feature {
    padding: 50px 0px 0px 0px;
  }
  .slider__img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .price__inner {
    margin: 0px 0px 50px 0px;
  }
  .form__bike-price {
    top: -80px;
    right: -64px;
    left: auto;
  }
  .menu__link:hover {
    background-color: #fff;
    color: #131313;
  }
}

@media (max-width: 991px) {
  .header__menu {
    margin: 0px 0px 0px 0px;
  }
  .feature__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feature__head {
    margin: 0px 0px 20px 0px;
  }
  .feature__items {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0px 0px 0px 0px;
  }
  .feature__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    margin: 0px 0px 30px 0px;
  }
  .feature__name {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .feature__desc {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .slider__img {
    height: 450px;
  }
  .slider__item {
    padding: 0px 0px 0px 15px;
  }
  .form__label-box {
    margin: 0px 0px 300px 0px;
  }
  .form__bike {
    top: auto;
    bottom: 85px;
    left: 0;
    right: auto;
  }
  .form__bike-price {
    top: 0;
    right: -20%;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    left: auto;
  }
  .form__text {
    max-width: 100%;
  }
}

@media (max-width: 780px) {
  .form__bike-price {
    top: 0;
    right: 60px;
    -webkit-transform: translateX(60%);
        -ms-transform: translateX(60%);
            transform: translateX(60%);
  }
}

@media (max-width: 640px) {
  .header__inner {
    display: block;
    text-align: center;
  }
  .menu__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 50px 0px 0px 0px;
  }
  .menu__link {
    padding: 25px 10px;
  }
  .bike__title {
    font-size: 44px;
    margin: 30px 0px 5px 0px;
  }
  .bike__sub-title {
    font-size: 22px;
    margin: 0px 0px 30px 0px;
  }
  .bike__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 25px 0px 0px 0px;
  }
  .bike__list-item {
    width: 50%;
    margin: 0px 0px 15px 0px;
  }
  .info__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .slider__img {
    height: 270px;
  }
}

@media (max-width: 550px) {
  .form__bike-price {
    right: auto;
    top: 30px;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    left: 0;
    display: inline-block;
    font-size: 18px;
    border: none;
    width: 100%;
    height: auto;
    border-radius: 0;
    color: #fff;
  }
  .form__bike-price span {
    background-color: #131313;
    padding: 5px 3px;
  }
  .form__bike-price::after {
    display: none;
  }
  .form__bike {
    bottom: 100px;
  }
  .form__bike-img {
    width: 450px;
  }
  .footer__inner {
    display: block;
    height: auto;
    padding: 15px 0px;
    text-align: center;
  }
  .footer__social {
    padding: 15px 0px;
  }
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 465px) {
  .form__bike {
    bottom: 120px;
  }
  .form__bike-img {
    width: 400px;
  }
  .form__bike-price {
    top: -20px;
  }
}

@media (max-width: 460px) {
  .menu__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__link {
    padding: 25px 0px;
  }
  .bike__title {
    font-size: 33px;
  }
  .bike__sub-title {
    font-size: 20px;
  }
  .bike__link {
    padding: 15px 15px;
    letter-spacing: 0.9em;
  }
  .bike__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider {
    display: none;
  }
  .form__bike {
    bottom: 55px;
  }
  .form__bike-img {
    width: 270px;
  }
  .form__bike-price {
    -webkit-transform: translate(80%, 20%);
        -ms-transform: translate(80%, 20%);
            transform: translate(80%, 20%);
    top: 0;
  }
  .form__label-box {
    margin: 0px 0px 200px 0px;
  }
  .form__btn {
    padding: 14px 36px;
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 360px) {
  .form__btn {
    padding: 5px 10px;
    margin: 0px 0px 0px 0px;
  }
  .form__bike-price {
    font-size: 14px;
  }
}

@media (max-width: 340px) {
  .menu__link {
    font-size: 12px;
  }
  .menu__list {
    margin: 30px 0px 0px 0px;
  }
}
