@charset "UTF-8";
/* Обнуляющий стиль */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

/* ================== */
body {
  font-family: "Inter", sans-serif;
  background: #f5f5f5;
  color: #262c27;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 57px 0px;
  gap: 100px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Comfortaa", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
}

.header__btn {
  text-transform: uppercase;
  color: #fff;
  padding: 12px 71px;
  background-color: #262c27;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.header__btn:hover {
  background-color: #B9C400;
  color: #262c27;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__phone {
  color: #fff;
}

.header__content {
  min-height: calc(100vh - 154px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Comfortaa", cursive;
  font-style: normal;
  font-weight: 700;
}

.header__content-box {
  max-width: 550px;
  text-align: center;
  margin: 0px 40px 0px 0px;
  color: #fff;
}

.header__title {
  font-size: 64px;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.header__text {
  font-size: 24px;
  line-height: 1.12;
  margin: 0px 0px 20px 0px;
}

.logo path {
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.logo:hover path {
  fill: #0093a1;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
