//Обнуляющий стиль
@import "_null";

// Основные настройки страницы
body {
	// font-family: 'Comfortaa', cursive;
	font-family: "Inter", sans-serif;
	background: #f5f5f5;
	color: #262c27;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
[class*="__container"] {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0px 10px;
}

// header
.header {
	// background-image: url(../img/header-bg.jpg);
	// background-size: cover;
	// background-repeat: no-repeat;
	// background-position: center;
	// min-height: 100vh; // картинка занимает всю высоту экрана
	background: url("../img/header-bg.jpg") center / cover no-repeat;
	min-height: 860px;
	position: relative;
	margin: 0px 0px 80px 0px;
	&::before {
		content: "";
		position: absolute;
		background-image: url(../img/header-decor.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		bottom: 0;
		right: 0;
		left: 0;
		height: 456px;
		transform: translateY(50%);
		z-index: 2;
	}
	&::after {
		content: "";
		position: absolute;
		background-image: url(../img/header-decor.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		bottom: 0;
		right: 0;
		left: 0;
		height: 456px;
		transform: translateY(100%) rotate(180deg);
		z-index: 3;
	}

	// .header__container

	&__container {
	}

	// .header__top

	&__top {
		display: flex;
		align-items: center;
		padding: 57px 0px;
		gap: 100px;
		justify-content: flex-end;
		font-family: "Comfortaa", cursive;
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.1;
	}

	// .header__btn

	&__btn {
		text-transform: uppercase;
		color: #fff;
		padding: 12px 71px;
		background-color: #262c27;
		transition: all 0.3s ease;
		cursor: pointer;
		&:hover {
			background-color: #b9c400;
			color: #262c27;
			transition: all 0.3s ease;
		}
	}

	// .header__phone

	&__phone {
		color: #262c27;
	}

	// .header__content

	&__content {
		// min-height: calc(100vh - 154px);
		padding: 206px 0px 120px 0px;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: flex-end;
		font-family: "Comfortaa", cursive;
		font-style: normal;
		font-weight: 700;
		position: relative;
	}

	// .header__content-box

	&__content-box {
		max-width: 550px;
		text-align: center;
		margin: 0px 40px 0px 0px;
		color: #fff;
	}

	// .header__title

	&__title {
		font-size: 64px;
		line-height: 1.1;
		text-transform: uppercase;
		margin: 0px 0px 20px 0px;
	}

	// .header__text

	&__text {
		font-size: 24px;
		line-height: 1.12;
		margin: 0px 0px 20px 0px;
	}

	// .header__decor-text

	&__decor-text {
		position: absolute;
		bottom: 10px;
		color: #0093a1;
		&_one {
			z-index: 1;
			font-family: "Comfortaa", cursive;
			font-size: 130px;
			line-height: 1.1;
			opacity: 0.3;
			right: 142px;
			bottom: -140px;
		}
		&_two {
			z-index: 4;
			font-family: "Comfortaa", cursive;
			font-size: 130px;
			line-height: 1.1;
			opacity: 0.3;
			left: 265px;
			bottom: -290px;
		}
		&_three {
			max-width: 306px;
			font-style: italic;
			font-weight: 300;
			font-size: 32px;
			text-align: center;
			right: 135px;
			z-index: 4;
			bottom: -250px;
		}
	}
}
.logo {
	path {
		transition: fill 0.3s ease;
	}
	&:hover path {
		fill: #0093a1;
		transition: fill 0.3s ease;
	}
}

// section info

.info {
	background: url("../img/info-bg.jpg") center / cover no-repeat;
	color: #fff;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		height: 180px;
		background-color: #262c27;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1;
		transform: translateY(-80px);
	}

	// .info__container

	&__container {
	}

	// .info__inner

	&__inner {
		padding: 255px 0px 50px 0px;
	}

	// .info__top

	&__top {
		display: flex;
		gap: 87px;
		// align-items: flex-end;
		padding: 100px 0px 0px 0px;
		margin-bottom: 65vh;
	}

	// .info__top-text

	&__top-text {
		max-width: 290px;
		padding: 245px 0px 0px 0px;
		position: relative;
		&_one {
			padding-bottom: 125px;
		}
		&_two {
			border-bottom: 1px solid #fff;
		}
	}

	// .info__btn

	&__btn {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	// .info__top-img

	&__top-img {
		position: relative;
		z-index: 6;
	}

	// .info__specs

	&__specs {
		display: flex;
		gap: 162px;
		align-items: center;
		padding: 0px 0px 50px 0px;
	}

	// .info__specs-title

	&__specs-title {
		font-size: 60px;
		line-height: 1.11;
		text-transform: uppercase;
		font-family: "Comfortaa", cursive;
		width: 215px;
	}

	// .info__specs-list

	&__specs-list {
		font-weight: 700;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		padding: 30px 0px;
		width: 565px;
	}

	// .info__specs-item

	&__specs-item {
		display: flex;
		gap: 25px;
		&:not(:last-child) {
			margin: 0px 0px 15px 0px;
		}
	}

	// .info__specs-caption

	&__specs-caption {
		width: 185px;
		// margin: 0px 25px 0px 0px;;
	}

	// .info__specs-text

	&__specs-text {
	}
}
.popup-btn {
	cursor: pointer;
	background-color: transparent;
	text-align: center;
	span {
		padding: 12px 0px 0px 0px;
		display: block;
		color: #fff;
	}
	&:hover path {
		fill: #b9c400;
		transition: all 0.3s ease;
	}
	&:hover circle {
		stroke: #b9c400;
		transition: all 0.3s ease;
	}
	&:hover span {
		color: #b9c400;
		transition: all 0.3s ease;
	}
}

.buy {
	background-color: #fff;

	// .buy__container

	&__container {
	}

	// .buy__inner

	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 97px;
		padding: 150px 0px 172px 0px;
	}

	// .buy__content

	&__content {
		max-width: 502px;
		position: relative;
	}

	// .buy__title

	&__title {
		font-size: 60px;
		line-height: 1.11;
		text-transform: uppercase;
		font-family: "Comfortaa", cursive;
		color: #0093a1;
		margin: 0px 0px 50px 0px;
	}

	// .buy__list

	&__list {
	}

	// .buy__item

	&__item {
		max-width: 285px;
		&:not(:last-child) {
			margin: 0px 0px 25px 0px;
		}
		&:hover &-title {
			color: #0093a1;
		}
	}

	// .buy__item-title

	&__item-title {
		font-weight: 700;
		text-transform: uppercase;
		margin: 0px 0px 5px 0px;
		transition: color 0.3s ease;
	}

	// .buy__item-text

	&__item-text {
	}

	// .buy__btn

	&__btn {
		display: block;
		max-width: 484px;
		text-transform: uppercase;
		text-align: center;
		font-family: "Comfortaa", cursive;
		font-weight: 700;
		font-size: 40px;
		line-height: 1.12;
		padding: 18px 0px;
		margin: 68px 0px 0px 0px;
		background-color: transparent;
		color: #0093a1;
		border: 2px solid #0093a1;
		transition: all 0.3s ease;
		cursor: pointer;
		&:hover {
			background-color: #b9c400;
			color: #262c27;
			border-color:#b9c400;
			transition: all 0.3s ease;
		}
	}

	// .buy__price

	&__price {
		position: absolute;
		right: 0;
		bottom: 150px;
		width: 201px;
		height: 199px;
		font-weight: 700;
		font-size: 35px;
		background: url('../img/buy-decor.svg') 0 0 no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.technology {
	background: url('../img/technology-bg.png') 0 0 no-repeat;

	// .technology__top

	&__top {
	}

	// .technology__container

	&__container {
	}

	// .technology__top-inner

	&__top-inner {
	}

	// .technology__btn

	&__btn {
	}

	// .technology__title

	&__title {
	}

	// .technology__list

	&__list {
	}

	// .technology__list-item

	&__list-item {
	}
}
.popup-btn {
}
